.footer {
	padding: 20px 0;
	background-color: #000;
	color: rgba(255, 255, 255, 0.5);
}

.footer__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	@include mobile () {
		flex-direction: column;
		align-items: flex-start;
		
	}

}

.footer__text {
	margin: 0;
	@include mobile () {
			font-size: 12px;
			margin-bottom: 1em;
	}
}
