.header {
	padding: 40px 0;

	@include tablet () {
		padding: 30px;
	}
}

.header__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 30px;

	@include mobile () {
		flex-direction: column;
		align-items: flex-start;
		row-gap: 20px;

	}
}

.header__logo {
	flex-shrink: 0;
}

.logo {
	margin-bottom: 5px;
}

.header__who {
	color: #6B9DB9;
	line-height: 1.6;
}