.title {
	font-weight: 700;
	font-size: 32px;
}

.title-1 {
	font-weight: 800;
	font-size: 32px;
}

.title-2 {
	font-weight: 700;
	font-size: 28px;
}

.title-3 {
	font-weight: 700;
	font-size: 18px;
}
